.App {
  text-align: center;
  font-family: 'Barriecito', cursive;
}

.VideoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App .title {
  font-family: 'Barriecito', cursive !important;
}
